.task-list-title {
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  font-family: monospace;
}

.task-list-box {
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 50%;
}

.task-list-box-title {
  margin: 10px;
  color: #337ab7;
  font-size: 1.5em;
  padding: 0;
  display: block;
  font-weight: bold;
  font-family: monospace;
}

.task-list {
  display: block;
  list-style-type: disc;
  margin: 0;
  padding: 0;
  list-style-type:none
}
